<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 하드웨어 요구사항 -->
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />

    <!-- GPU 가속 지원 -->
    <uses-feature
            android:name="android.hardware.opengles.aes3"
            android:required="false" />

</manifest>